<!DOCTYPE html>
<html>
<head>
	<title>
		Welcome to Elephant!
	</title>
	{% block javascripts %}
    <script src="{{ asset('bundles/serverweb/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/serverweb/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endblock %}
    {% block stylesheets %}
    <link href="{{ asset('bundles/serverweb/css/bootstrap.css') }}" type="text/css"
rel="stylesheet" />
    {% endblock %}
	<script>
	function getCode() {
		$.get('../api/initiate'
			, {name : $('#nametextbox').val() })
			.success(function(data) {
				console.log(data);
			var url = '../channel/';
			var form = $('<form action="' + url + '" method="post">' +
			  '<input type="hidden" name="code" value="' + data + '" />' +
			  '<input type="hidden" name="name" value="' + $('#nametextbox').val() + '" />' +
			  '</form>');
			$('body').append(form);
			$(form).submit();
		});
	}
	</script>
</head>

<body>
	<h1> Welcome to Elephant </h1>


	<form action="/Server/code/web/app_dev.php/channel/" method="GET">
		<h2>Enter your name</h2>
		<input id="nametextbox" type="text" name="name"/>
		<h2 class="result">Create a new channel!</h2>
		<input value="Create!" type="button" onclick="getCode();return false;"/>

		<h2 class="result">Or join a channel!</h2>
		<input id="codetextbox" type="text" name="code" />
		<input value="Join!" type="submit" />
	</form>
</body>
</html>